{% extends "MyPlaylistAppBundle:MyPlaylist:layout.html.twig" %}

{% block title %}{{ parent() }} - Modification de votre playlist{% endblock %}

{% block body %}
    Liste deroulante des playliste pour la modification.
    <select>
  		{% for value in playlist %}
    		<option value="{{ value.id }}">{{ value.name }}</option>
  		{% endfor %}
	</select>
{% endblock %}