{% extends "MyPlaylistAppBundle:MyPlaylist:layout.html.twig" %}

{% block title %}{{ parent() }} - Supprimer{% endblock %}

{% block body %}
    List deroulante des playliste pour en supprimer une.
    <select>
  		{% for value in playlist %}
    		<option value="{{ value.id }}">{{ value.name }}</option>
  		{% endfor %}
	</select>
{% endblock %}