{% extends "MyPlaylistAppBundle:MyPlaylist:layout.html.twig" %}

{% block title %}{{ parent() }} - Modification de votre playlist{% endblock %}

{% block body %}
    Choix de la playlist à modifier :
    <ul>
  		{% for value in playlist %}
    		<li><a href="http://localhost/Symfony/web/app_dev.php/playlist/edit/{{ value.id }}">{{ value.name }}</a></li>
  		{% endfor %}
  	</ul>
{% endblock %}