{% extends "MyPlaylistAppBundle:MyPlaylist:layout.html.twig" %}

{% block title %}{{ parent() }} - Ajout{% endblock %}

{% block body %}    
<div class="well">
<h3>Ajout d'une nouvelle playlist</h3>
    <form action="{{ path('MyPlaylist_viewAddPlaylist') }}" method="post" {{ form_enctype(form) }}>
    	{{ form_widget(form) }}
    	<input type="submit" class="btn btn-primary" />
    </form>
</div>
{% endblock %}