{% extends "MyPlaylistAppBundle:MyPlaylist:layout.html.twig" %}

{% block title %}{{ parent() }} - Musiques{% endblock %}

{% block body %}
    <h3>Accueil</h3>
  	<ul>
  	{% for value in album %}
    	<li><a href="http://localhost/Symfony/web/app_dev.php/album/view/{{ value.id }}" >{{ value.title }}</a></li>
  	{% else %}
    	<li>Pas dAlbum(s) trouvé.</li>
  	{% endfor %}
</ul>
{% endblock %}