<!DOCTYPE html>
<html>
    <head>
        <title>Ajout de musique dans la bibliothèque !</title>
    </head>
    <body>
       
        <h3><a href="{{ path('MyPlaylist_home') }}">Retour à l'accueil</a></h3>

        <p>
           Il s'agit de la vue gérant l'ajout de musiques
        </p>
       
    </body>
</html>