<!DOCTYPE html>
<html>
    <head>
        <title>Edition des musiques existantes</title>
    </head>
    <body>
        <h3><a href="{{ path('MyPlaylist_home') }}">Retour à l'accueil</a></h3>

        <p>
           Il s'agit de la vue gérant l'édition des musiques
        </p>
       
    </body>
</html>