<!DOCTYPE html>
<html>
    <head>
        <title>A propos !</title>
    </head>
    <body>
        <h3><a href="{{ path('MyPlaylist_addSong') }}">Ajouter musique</a></h3>
        <h3><a href="{{ path('MyPlaylist_editSong') }}">Editer musique</a></h3>
        <h3><a href="#">Visualiser Liste musique</a></h3>
        <h3><a href="{{ path('MyPlaylist_home') }}">Retour à l'accueil</a></h3>

        <p>
           Il s'agit de la vue gérant les musiques
        </p>
       
    </body>
</html>