 <nav>
            <h5><a href="{{ path('MyPlaylist_addSong') }}">Ajouter une chanson</a></h5>
            <h5><a href="{{ path('MyPlaylist_editSong') }}">Modifier une chanson</a></h5>
            <h5><a href="{{ path('MyPlaylist_delSong') }}">Supprimer une chanson</a></h5>
 </nav>