{% extends "MyPlaylistAppBundle:MyPlaylist:layout.html.twig" %}

{% block title %}{{ parent() }} - Modification de votre Musique{% endblock %}

{% block body %}
{% if song is empty %}
		<p>Veuillez ajouter des chansons. <a href="{{ path('MyPlaylist_viewAddSong') }}">">Ajout de Chanson</a></p>
	{% else %}
    Choix de la Musique à modifier :
    <ul>
  		{% for value in song %}
    		<li><a href="{{ path('MyPlaylist_editSong', {"id": value.id}) }}">{{ value.title }}</a></li>
  		{% endfor %}
  	</ul>
{% endif %}	
{% endblock %}