{% extends "MyPlaylistAppBundle:MyPlaylist:layout.html.twig" %}

{% block title %}{{ parent() }} - Musiques{% endblock %}

{% block body %}
    <h3>Accueil</h3>
  	<ul>
  	{% for value in tag %}
    	<li><a href="{{ path('MyPlaylist_viewTagId', {"id": value.id}) }}" >{{ value.designation }}</a></li>
  	{% else %}
    	<li>Pas de Tag(s) trouvé.</li>
  	{% endfor %}
</ul>
{% endblock %}