{% extends "MyPlaylistAppBundle:MyPlaylist:layout.html.twig" %}

{% block title %}{{ parent() }} - Modification de votre Musique{% endblock %}

{% block body %}
{% if tag is empty %}
        <p>Veuillez ajouter des tags. <a href="{{ path('MyPlaylist_viewAddTag') }}">Ajout d'un tag</a></p>
    {% else %}
    <h3>Choix d'un tag à modifier : </h3>
    <ul>
    {% for value in tag %}
        <li><a href="{{ path('MyPlaylist_editTag', {"id": value.id}) }}" >{{ value.designation }}</a></li>
    {% else %}
        <li>Pas de tag(s) trouvé.</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}