{% extends "MyPlaylistAppBundle:MyPlaylist:layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
        <p>
            Ce site a été realiser dans un but pédagogique et dans le cadre d'un projet en Licence de Math/Info.
        </p>
        <p>
            Ci-joint le MCD que nous avons utiliser : <img src="{{ asset('bundles/myplaylistapp/img/mcd.png')}}" alt="MCD"/>
        </p>
        <p>
            Nous remercions machin, bidule et truc.
        </p>
{% endblock %}
